.header {
    background-color: #333 ;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem;
}

.logo {

    height: 2.3rem;

}

.logo-text {

    padding-left: 0.8rem;
    color: white;
}